<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Roman Lazunin
  </h1>
  <img id="profile-image" width="200" alt="Profile image" src="https://avatars0.githubusercontent.com/u/5826191?s=460&v=4">
</div>
<h2 style="text-align:center">Solutions Architect</h2>
<h2>Social links: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://linkedin.com/in/romanlazunin">Linkedin</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://romanlazunin.github.io">GitHub.io Profile Page</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://medium.com/@romanlazunin">Medium blog</a></h2>
  </li>
</ul>

